{% extends 'core/base.html' %} {% load static %} {% block head_title %}About Us{% endblock %} {% block content %} {% if form.non_field_errors %} {% for error in form.non_field_errors %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
    <p class="font-bold">Error!</p>
    <p class="block sm:inline">{{ error }}</p>
</div>
{% endfor %} {% endif %}
<div class="grid grid-cols-3 gap-4">
    <div></div>
    <div class="py-2 px-3 rounded-xl bg-white mt-12">
        <h1 class="font-mono font-bold text-3xl text-center pb-5 shadow-md">About Us  </h1>
        <hr>
        <h3 style="text-align: center;">Banking System Managment</h3>
        <br>
        <p>
            Developed as Final project by:<br>
            <br>
            <ul>
            <li>Name: Huzaifa Merhj &nbsp;&nbsp; &nbsp;  Student ID:  2120226093</li> 
            <li>Name: Royesh Hussin &nbsp;&nbsp; &nbsp; Student ID: 2120226032</li> 
            <li>Name: Sakina Yousufi &nbsp;&nbsp; &nbsp; Student ID: 2120226033</li> <br>
            <br>
                 
        </ul>
        </p>
    </div>
</div>



{% endblock %}
