
{% extends 'core/base.html' %} {% load static %} {% block head_title %}Banking System{% endblock %} {% block content %}



<div >
    <form action="" method="POST">
        {% csrf_token %}
      
      
            <label>Enter the Account Number</label>
            <input type="text" name="acount_no">
      
            <label>Enter the Amount Number</label>
            <input type="number" name="amountno">
      
          <input type="submit" name="transfer">    
      
        </form>

</div>    
{% endblock %}

